html, body {
	min-height: 100%;
	font-family: 'Fredericka the Great', cursive;
	color: #fff;
	background-color: #777;
	background-image: url(../images/blackboard.jpg);
}

#game, #results, #congrats, #school {
	display: none;
}

#start-space {
	font-size: 18px;
}

#game-space {
	text-align: left;
	font-size: 18px;
}

#timer {
	border: 3px solid #fff;
	padding: 5px;
}

#question {
	line-height: 1.5;
}

.container {
	text-align: center;
}

.gif {
	border: 3px solid #fff;
}

.message {
	font-size: 24px;
}

.right {
	font-size: 28px;
}

.wrong {
	text-decoration: line-through;
}